body {
  margin: 0 auto;
  background-color: black;
}

#siteContainer {
  max-width: 1440px;
  background-color: white;
  position: absolute;
}

@font-face {
    font-family: gaduji;
    src: url(gadugi.ttf);
}

.hidden {
  opacity: 0;
  height: 0;
}

/*header*/
#mainHeader {
	position: fixed;
	z-index: 999;
	width: 100%;
  background-color: white;
  opacity: 0.9;
  height: 5em;
}

#headerLogo {
  width: 3em;
  height: auto;
  float: left;
  margin-left: 0.625em;
  margin-top: 0.625em;
  margin-bottom: 0.6em;
}

@media screen and (min-width: 1024px) {
    #mainHeader {
      position: fixed;
    	z-index: 999;
    	width: 100%;
      background-color: white;
      opacity: 0.9;
      height: 5em;
    }

    #headerLogo {
      position: relative;
      width: 4%;
      height: auto;
      margin-left: 48%;
      z-index: 10000;
    }
}

.menu-icon {
  overflow: auto;
  height: 3em;

}

.menu-icon::after
{
	background: #000000;
	box-shadow: 0 0.4375em 0 #000000, 0 0.875em 0 #000000;
	margin-top: 1.375em;
    transition: all 0.8s ease;
}

#hamMenu {
  margin-right: 2em;
  padding-top: 0.75em;
  float: right;
  height: 2em;
}

#main-menu {
  clear: both;
  padding-top: 0.35em;
}

#main-menu ul {
  list-style: none;
  text-align: center;
  margin: 0 auto;
  /*background-color: red;*/
}

#main-menu ul li{
  background-color: grey;
  transition: all 0.8s ease;
}

#main-menu ul li:hover{
  background-color: black;
}

#main-menu ul li a{
  text-align: center;
  font-size: 0.75em;
  color: black;
}

#main-menu ul li a:hover{
  color: white;
}

@media screen and (min-width: 1024px) {
    #main-menu {
      position: absolute;
      clear: none;
      padding-top: 0.35em;
      width: 100%;
    }

    #main-menu ul {
      list-style: none;
      float: right;
      margin-top: 1.5%;
      left: 7%;
      width: 100%;
      position: relative;
    }

    #main-menu ul li{
      background: none;
      float: left;
      margin-right: 8%;
    }

    #main-menu ul li:nth-child(3n) {
      margin-right: 12%;
    }

    #main-menu ul li:nth-child(6n) {
      margin-right: 0px;
    }

    #main-menu ul li:hover{
      background-color: black;
      opacity: 0.8;
    }

    #main-menu ul li a{
      text-align: center;
      font-size: 1.25em;
      color: black;
    }

    #main-menu ul li a:hover{
      color: white;
    }
}

@media screen and (min-width: 1180px) {

    #main-menu ul li:nth-child(3n) {
      margin-right: 23%;
    }

    #main-menu ul li:nth-child(6n) {
      margin-right: 0px;
    }
}

/*promo*/
#promo {
  margin-top: 5em;
}

#promoImage {
  width: 100%;
  height: inherit;
}

#chaImg {
  position: relative;
  z-index: 55;
  margin-top: -7.375em;
  width: 60%;
  margin-left: 25%;
}

#introduction {
  font-family: gaduji;
  font-size: 1em;
  padding: 0 1em 0 1em;
}

.subHeader {
  margin-top: 2em;
  border-bottom: 1px solid black;
  width: 8em;
  margin-bottom: 0;
  margin-left: 50%;
  color: grey;
}

.header1 {
  text-align: center;
  margin: auto;
  width: 7em;
  font-size: 2em;
  font-weight: bold;
  border-bottom: 1px solid black;
}

@media screen and (min-width: 1024px) {
    .subHeader {
      margin-top: 10%;
      margin-left: 5%;
    }

    .header1 {
      margin-left: 5%;
    }
}

@media screen and (min-width: 1024px) {
    #promo {
      margin-bottom: 5%;
    }

    #chaImg {
      z-index: 55;
      margin-top: -9.375em;
      width: 40%;
      float: left;
      margin-left: 0;
    }

    #promoName {
      z-index: 60;
      float: left;
      width: 60%;
      margin-left: 30%;
      margin-top: -43%;
    }

    #introduction {
      float: right;
      font-size: 1em;
      padding: 0 1em 0 1em;
      width: 60%;
      margin-top: -28%;
    }
}

@media screen and (min-width: 1240px) {
    #introduction {
      float: right;
      padding: 0 1em 0 1em;
      width: 40%;
      margin-top: -33%;
      margin-right: 12%;
    }
}

@media screen and (min-width: 1350px){
    #introduction {
      margin-top: -28%;
    }
}

/*gallery*/
.blackWhite {
  filter: grayscale(100%);
  cursor: pointer;
  transition: all 0.3s ease;
}


.blackWhite:hover {
  filter: grayscale(0%);
}

#gallery1 {
  margin-top: 2em;
  width: 50%;
  float: left;
}

#gallery2 {
  margin-top: 2em;
  width: 50%;
  float: right;
}

#gallery3 {
  width: 50%;
  float: left;
}

#gallery4 {
  width: 50%;
  float: right;
}

#gallery5 {
  width: 50%;
  float: left;
}

#gallery6 {
  width: 50%;
  float: right;
}

#Galightbox {
  position: absolute;
  display: none;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 5000;
}

#GalightboxImg {
  display: block;
  margin: auto;
  width: 50%;
  margin-top: 15%;
}

@media screen and (min-width: 1024px) {
  #GalightboxImg {
    margin-top: 1.28em;
    width: 32em;
  }
}

.close-lightbox {
	margin-left: 80%;
	margin-top: 10%;
	cursor: pointer;
	color: white;
}

.close-lightbox:hover {
	transform: rotate(90deg);
	transition: all .5s ease;
}

@media screen and (min-width: 1024px) {
  #gallery {
  margin-left: -1%;
}

  #gallery1 {
    width: 60.5%;
    float: right;
  }

  #galleryCon1 {
    width: 38.3458646616541%;
    float: right;
  }

  #galleryCon2 {
    width: 38.3458646616541%;
    float: right;
  }

  #gallery2 {
    width: 100%;
    float: right;
  }

  #gallery3 {
    width: 50%;
    float: right;
  }

  #gallery4 {
    width: 50%;
    float: right;
  }

  #gallery5 {
    width: 61.6541353383469%;
    float: right;
    margin-top: 2em;
  }

  #gallery6 {
    width: 100%;
    float: right;
    margin-top: -4%;
  }

}

/*skill*/
#skill {
  clear: both;
  padding-top: 1em;
}

#skillPa {
  font-size: 1em;
  padding: 0 1em 0 1em;
  margin-top: 1.5em;
  font-family: gaduji;
}

.careerIconAll {
  width: 18.5%;
}

@media screen and (min-width: 600px){
  #careerImg {
    width: 40%;
    float: left;
  }

  #skillPa {
    width: 60%;
    float: right;
  }

  #careerIcon {
    clear: both;
  }
}

@media screen and (min-width: 600px) {
  #skillPa {
    width: 50%;
    margin-right: 5%;
    margin-top: 5%;
  }
}

@media screen and (min-width: 1024px){
  #skillPa {
    margin-top: 10%;
  }

  .careerIconAll{
    width: 12%;
  }

  #careerIcon {
    text-align: center;
  }
}

#socialHeader {
  margin-top: 3em;
}

#social {
  margin-top: 2em;
}

#socialImg1 {
  width: 50%;
  float: right;
}

#socialImg2 {
  width: 50%;
  float: right;
  margin-right: -30%;
  margin-top: 6%;
}

#socialImg3 {
  width: 30%;
  float: right;
  margin-right: -70%;
  margin-top: 12%;
}

#socialImg4 {
  width: 49%;
  float: right;
  margin-right: 6%;
  margin-top: -13.5%;
}

#socialIconCon {
  margin-left: 5%;
  margin-top: -42%;
  float: left;
  margin-bottom: 2em;
}

@media screen and (min-width: 880px) {
    #socialIconCon {
      margin-top: -35%;
    }
}

@media screen and (min-width: 970px) {
    #socialIconCon {
      margin-top: -32%;
    }
}

@media screen and (min-width: 1110px) {
    #socialIconCon {
      margin-top: -27%;
    }
}

@media screen and (min-width: 1272px) {
    #socialIconCon {
      margin-top: -24%;
    }
}

.socialIcon {
  width: 10%;
}

#timelineCon {
  clear: both;
}

#careerImg {
  margin-top: 2em;
}
@media screen and (min-width: 700px) {
    #timelineCon{
      padding-top: 3%;
    }
}

#timeline {
  margin-left: 5%;
  margin-top: 34%;
  padding-bottom: 2em;
}

.timelineImg {
  width: 15%;
  float: left;
  position: relative;
}

#timeline1p {
  margin-top: -21%;
  position: absolute;
}

#timeline2p {
  margin-top: -15%;
  margin-left: 10%;
  position: absolute;
}

#timeline3p {
  margin-top: -9%;
  margin-left: 20%;
  position: absolute;
}

#timeline4p {
  margin-top: 6%;
  position: absolute;
}

#timeline5p {
  margin-top: 12%;
  margin-left: 10%;
  position: absolute;
}

#timeline6p {
  margin-top: 18%;
  margin-left: 55%;
  position: absolute;
}

#timeline p {
  font-size: 0.9em;
  font-family: 'Bungee', cursive;
}

@media screen and (min-width: 440px) {
  #timeline4p {
    margin-left: 20%;
    margin-top: 8%;
  }

  #timeline5p {
    margin-left: 25%;
    margin-top: 14%;
  }

  #timeline6p {
    margin-left: 60%;
    margin-top: 20%;
  }
}

@media screen and (min-width: 600px){
  #timeline5p {
    margin-left: 30%;
  }
}

@media screen and (min-width: 740px) {
  #timeline4p {
    margin-left: 30%;
    margin-top: 12%;
  }

  #timeline5p {
    margin-left: 40%;
    margin-top: 18%;
  }

  #timeline6p {
    margin-left: 70%;
    margin-top: 24%;
  }
}

@media screen and (min-width: 1024px) {
  #timeline5p {
    margin-left: 50%;
  }

  #timeline p {
    font-size: 1.2em;
    font-family: 'Bungee', cursive;
  }
}

@media screen and (min-width: 1234px) {
  #timeline4p {
    margin-left: 35%;
  }
}

#video {
  width: 100%;
}

#myVideo {
  margin-top: 30%;
  width: 100%;
  margin-bottom: 0;
  padding-bottom: 0;
  background-color: black;
}



@media screen and (min-width: 1024px) {
  #gallery {
    padding-top: 46%;
  }
}

/*videoplayer*/

#videobar
{
	background: rgba(0,0,0,.5);
	height: 3.125em;
	padding-top: 1%;
	font-family: 'Dosis', sans-serif;
	color: #000000;
	text-align: center;
	margin-top: -0.4em;
  width: 100%;
}

#playbutton
{
	width: 2em;
	float: left;
	margin-left: 2%;
	height: 2em;
  margin-top: 0.5em;
}

@media screen and (min-width: 420px) {
  #playbutton {
    margin-left: 10%;
  }

}

#play
{
	opacity: .6;
  width: 1.5em;
}

#play:hover
{
	opacity: 1;
	cursor: pointer;
}

#seekbar
{
	width: 30%;
  margin-left: 2%;
  padding: 0;
  float: left;
  margin-top: 1em;
}

#seekbar[type='range']
{
	-webkit-appearance: none !important;
	background-color: #000000;
	height: 0.25em;
}

#seekbar[type='range']::-webkit-slider-thumb
{
	-webkit-appearance: none !important;
	background-color: #000000;
	height: .625em;
	width: .625em;
	border-radius: 100%;
	cursor: pointer;
}

#volumebar {
  float: left;
  margin-top: 1em;
  width: 20%;
  margin-left: 2%;
}

#volumebar[type='range']
{
	-webkit-appearance: none !important;
	background-color: #000000;
	height: .25em;
}

#volumebar[type='range']::-webkit-slider-thumb
{
	-webkit-appearance: none !important;
	background-color: #000000;
	height: .625em;
	width: .625em;
	border-radius: 100%;
	cursor: pointer;
}

#videotime {
  float: left;
  margin-left: 2%;
  margin-right: 5%;
  margin-top: 0.5em;
}

#curtimetext
{
	letter-spacing: .0625em;
	color: #000000;
	opacity: .8;
	font-size: .625em;
	margin-left: 1em;

}

#durtimetext
{
	letter-spacing: .0625em;
	color: #000000;
	opacity: .8;
	font-size: .625em;

}

#mutebutton {
  width: 5%;
  height: 3.125em;
  float: left;
  margin-top: 0.5em;
}

#muteon
{
	opacity: .6;
}

#muteon:hover
{
	opacity: 1;
	cursor: pointer;
}



/*contact*/
footer{
  width: 100%;
  height: 6.25em;
  background-color: black;
}

@media screen and (min-width: 400px) {
  footer {
    height: 8em;
  }
}

@media screen and (min-width: 580px) {
  footer {
    height: 12em;
  }
}

@media screen and (min-width: 868px) {
  footer {
    height: 18em;
  }
}

#logoFooter {
  width: 25%;
  margin-left: 37.5%;
  margin-top: 3%;
}

@media screen and (min-width: 1124px) {
  #logoFooter {
    width: 20%;
    margin-left: 40%;
  }
}

/*javascript classlists*/

.years {
  opacity: .5;
  transform: scale(1.15);
  transition: all .5s ease;
}

.timeparagraph {
  transform: scale(1.15) rotate(360deg);
  color: #336699;
  transition: all .5s ease;
}
